In [1]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np

In [15]:
boston_dataset = load_boston()
boston_dataset

dados = pd.DataFrame(data= boston_dataset.data, columns= boston_dataset.feature_names)
dados = dados.drop(['INDUS', 'CHAS'], axis= 1)

log_precos = np.log(boston_dataset.target)
objetivo = pd.DataFrame(data= log_precos, columns= ['PRICE'])

        PRICE
0    3.178054
1    3.072693
2    3.546740
3    3.508556
4    3.589059
..        ...
501  3.109061
502  3.025291
503  3.173878
504  3.091042
505  2.476538

[506 rows x 1 columns]

In [47]:
CRIME_IDX = 0
ZN_IDX = 1
CHAS_IDX = 2

RM_IDX = 4
PTRATIO_IDX = 8

casa_stat = np.ndarray(shape= (1, 11))
casa_stat = dados.mean().values.reshape(1,11)

casa_stat

array([[  3.61352356,  11.36363636,   0.55469506,   6.28463439,
         68.57490119,   3.79504269,   9.54940711, 408.23715415,
         18.4555336 , 356.67403162,  12.65306324]])

In [63]:
regr = LinearRegression().fit(dados, objetivo)

previsto = regr.predict(dados)

MSE = mean_squared_error(objetivo, previsto, squared= True)
RMSE = mean_squared_error(objetivo, previsto, squared= False)

print("MSE: ", MSE)
print("RMSE: ", RMSE)

MSE:  0.03581044538488344
RMSE:  0.18923648005837415

In [75]:
def obter_estimativa_log(n_quartos,
                    estudantes_por_turma,
                    proximo_rio= False,
                   alta_fidelidade= True):
    #Configurando
    
    casa_stat[0][RM_IDX] = n_quartos
    casa_stat[0][PTRATIO_IDX] = estudantes_por_turma
    casa_stat[0][CHAS_IDX] = proximo_rio
    
    
    # Prevendo
    
    estimativa_log = regr.predict(casa_stat)[0][0]
    if(alta_fidelidade):
        margem_acima = estimativa_log + 2*RMSE
        margem_abaixo = estimativa_log - 2*RMSE
        intervalo = 95
    else:
        margem_acima = estimativa_log + RMSE
        margem_abaixo = estimativa_log - RMSE
        intervalo = 68
    
    
    return estimativa_log, margem_acima, margem_abaixo, intervalo

In [77]:
ZILLOW_MEDIAN_PRICE = 583.3
FATOR = ZILLOW_MEDIAN_PRICE / np.median(boston_dataset.target)

estimativa_log, acima, abaixo, intervalo = obter_estimativa_log(9,
                                                                estudantes_por_turma= 15,
                                                                proximo_rio= False,
                                                                alta_fidelidade= False)

In [78]:
obter_em_dolar